<!DOCTYPE html>

<html lang="en-US">

<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3"></script>
<style>
.container {
  display: flex;
  width: 100%;
}

.container div {
  width: 50%;
}

div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}
</style>
<script>
const StatusStopped = 0;
const StatusRunning = 1;
const StatusStopping = 2;

const ActionAdd = "add";
const ActionStart = "start";
const ActionInterrupt = "interrupt";
const ActionKill = "kill";
const ActionDel = "del";
const ActionRefresh = "refresh";
const ActionError = "error";

function newProc(name) {
  return {
    "name":name,
    "path":"",
    "args":[],
    "env":[],
    "dir":"",
    "status":StatusStopped,
    "error":"",
    "stderr":""
  };
}

const app = {
  data() {
    const url = new URL("/ws", document.location.origin);
    url.protocol = "ws";
    const ws = new WebSocket(url.toString());
    ws.onmessage = this.msgHandler;
    ws.onerror = this.errHandler;
    ws.onopen = () => this.refreshProcs();
    return {
      proc: newProc(""),
      procs: [],
      editing: false,

      StatusStopped: StatusStopped,
      StatusRunning: StatusRunning,
      StatusStopping: StatusStopping,

      ws: ws
    };
  },

  methods: {
    doAction(action, proc) {
      this.editing = false;
      this.ws.send(JSON.stringify({"action":action,"process":proc}));
    },

    startProc(proc) {
      if (proc.name === "")
        return;
      this.doAction(ActionStart, proc);
    },

    interruptProc(proc) {
      this.doAction(ActionInterrupt, proc);
    },

    killProc(proc) {
      this.doAction(ActionKill, proc);
    },

    delProc(proc) {
      if (!confirm(`Delete process named ${proc.name}?`))
        return;
      this.doAction(ActionDel, proc);
    },

    refreshProcs() {
      this.doAction(ActionRefresh, {});
    },

    newProcess() {
      let name = prompt("New process name");
      if (name === null) {
        return;
      }
      name = name.trim();
      if (name === "") {
        alert("Must input name");
        return;
      }
      this.editing = true;
      this.proc = newProc(name);
    },

    viewProcess(proc) {
      this.editing = false;
      this.proc = proc;
    },

    editProcess() {
      this.editing = true;
      this.proc = Object.assign({}, this.proc);
    },

    cancelEdit() {
      this.editing = false;
      this.proc = newProc("");
    },

    cloneProcess() {
      let name = prompt("New process name");
      if (name === null) {
        return;
      }
      name = name.trim();
      if (name === "") {
        alert("Must input name");
        return;
      }
      this.proc = Object.assign({}, this.proc);
      this.proc.name = name;
      this.editing = true;
    },

    msgHandler(event) {
      const msg = JSON.parse(event.data);
      switch (msg.action) {
      case ActionAdd:
        this.procs.push(msg.process);
        this.procs.sort((a, b) => (a.name > b.name) ? 1 : -1);
        break;
      case ActionStart:
        var proc = this.procs.find(proc => proc.name == msg.process.name);
        if (proc !== undefined)
          Object.assign(proc, msg.process);
        else
          this.doAction(ActionRefresh, {});
        break;
      case ActionKill:
        var proc = this.procs.find(proc => proc.name == msg.process.name);
        if (proc !== undefined)
          Object.assign(proc, msg.process);
        else
          this.refreshProcs();
        break;
      case ActionDel:
        var index = this.procs.indexOf(proc => proc.name == msg.process.name);
        if (index > -1)
          this.procs.splice(index, 1);
        else
          this.refreshProcs();
        break;
      case ActionRefresh:
        this.procs = JSON.parse(msg.contents);
        this.procs.sort((a, b) => (a.name > b.name) ? 1 : -1);
          console.log(msg.contents);
        break;
      case ActionError: alert(msg.contents); break;
      default: console.log(`received unexpected message: ${msg}`); break;
      }
    },

    errHandler(err) {
      console.log(`websocket error occurred: ${err}`);
    }
  }
}
</script>
</head>

<body>
  <div id="app">
    <p>
    {{ StatusStopped }} = Stopped
    <br>
    {{ StatusRunning }} = Running
    <br>
    {{ StatusStopping }} = Stopping
    <br>
    </p>
    <div class="container">
      <div id="all-procs-view">
        <button @click="refreshProcs()">Refresh</button>
        <table>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Remove</th>
          </tr>
          <!-- Table rows with processes -->
          <tr v-for="p of procs">
            <td @click="viewProcess(p)">{{ p.name }}</td>
            <td @click="viewProcess(p)">{{ p.status }}</td>
            <td @click="delProc(p)">X</td>
          </tr>
        </table>
      </div>
      <div id="proc-view">
        <button @click="newProcess()">New Process</button>
        <button @click="editProcess()" v-if="!editing">Edit</button>
        <button @click="cancelEdit()" v-else>Cancel</button>
        <button @click="cloneProcess()">Clone</button>
        <br>
        <p>Name: {{ proc.name }}</p>
        <p>Status: {{ proc.status }}</p>
        <p>Error: {{ proc.error }}</p>
        <label>Path: </label><input type="text" v-model="proc.path" :disabled="!editing" />
        <br>
        <br>
        <label>Args: </label>
        <template v-for="(arg, i) in proc.args">
          <br>
          <input type="text" v-model="proc.args[i]" :disabled="!editing" />
          <button @click="proc.args.splice(i, 1)" :disabled="!editing">X</button>
        </template>
        <br>
        <button @click="proc.args.push('')" :disabled="!editing">Add Arg</button>
        <br>
        <br>
        <label>Envs: </label>
        <template v-for="(env, i) in proc.env">
          <br>
          <input type="text" v-model="proc.env[i]" :disabled="!editing" />
          <button @click="proc.env.splice(i, 1)" :disabled="!editing">X</button>
        </template>
        <br>
        <button @click="proc.env.push('')" :disabled="!editing">Add Var</button>
        <br>
        <br>
        <label>Dir: </label><input type="text" v-model="proc.dir" :disabled="!editing"></input>
        <br>
        <br>
        <template v-if="proc.status==StatusStopped">
          <button @click="startProc(proc)">Start</button>
        </template>
        <template v-else-if="proc.status==StatusRunning">
          <button @click="interruptProc(proc)">Interrupt</button>
          <button @click="killProc(proc)">Kill</button>
        </template>
        <template v-if="proc.stderr!=''">
          <h3>Stderr</h3>
          <pre v-if="proc.stderr!=''">{{ proc.stderr }}</pre>
        </template>
      </div>
    </div>
  </div>
<script defer>Vue.createApp(app).mount("#app");</script>
</body>

</html>
