.center-text {
  text-align: center;
}

.spacer {
  height: 2px;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-div > div {
  margin: 2px;
  width: 100%;
}

.buttons-div > div > button {
  margin: 0px 1px 0px 1px;
}

.env-div {
  height: 200px;
  resize: vertical;
  overflow: auto;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#new-proc-div div {
  margin-top: 5px;
}

#new-proc-div p {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
}

#procs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

#connect-div {
  margin: 5px;
}

#connect-div > input {
  text-align: center;
}
